
body{
    font-size: 20px !important;
}
.container{
    margin-top: 40px;
}
h1{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}
h1>span{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    margin-left: 5px;
    color: black;

}
h6{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}
input{
    width: 40% !important; 
}
input::placeholder{
    color: gray !important;
    opacity: .3 !important;
}

small{
    color: hsl(354, 100%, 66%) !important;
}

.rounded-circle{
    border: 1px rgba(0, 0, 0, .1) solid !important;
}
.copyr{
    color: hsl(0, 0%, 59%);
    font-size: 10px;
    margin-top: 15px;
}
@media screen and (max-width:600px) {
    input, button[type='submit']{
        width: 60% !important; 
    }
    h1{
        font-size: 30px;
    }
}